.github/ export-ignore
.style.yapf export-ignore
codecov.yml export-ignore
docs/ export-ignore
icons/convert.bat export-ignore
icons/*.svg export-ignore
mypy.ini export-ignore
stubs/ export-ignore
tests/ export-ignore
tox.ini export-ignore
unittesting.json export-ignore

# Release script
.release.json export-ignore
mkdocs.yml export-ignore
scripts export-ignore
VERSION export-ignore
