language: python
python:
    - "3.3"  # sublime text 3
before_install:
    - pip install "mypy==0.570"
    - pip install flake8
    - pip install python-coveralls
script:
    - mypy -p plugin
    - flake8 --exclude=./boot.py
    - coverage run -m unittest discover
after_success:
    - coveralls