.notification {
    margin: 0.5rem;
    padding: 1rem;
}
.notification .message {
    margin-bottom: 3rem;
}

.notification .actions a {
    text-decoration: none;
    padding: 0.5rem;
    border: 2px solid color(var(--foreground) alpha(0.25));
    color: var(--foreground);
}
