.notification {
    margin: 0.5rem;
    padding: 1rem;
}

.notification h2 {
    margin-bottom: 1rem;
}

.notification .actions a {
    border: 2px solid color(var(--foreground) alpha(0.25));
    color: var(--foreground);
    margin-top: 3rem;
    padding: 0.5rem;
    text-decoration: none;
}
