.lsp_popup {
    --font-size: 1rem;
    --font-size-sm: 0.9rem;
    font-family: system;
    font-size: var(--font-size);
}
.mdpopups h1,
.mdpopups h2,
.mdpopups h3,
.mdpopups h4,
.mdpopups h5,
.mdpopups h6,
.lsp_popup div.highlight,
.lsp_popup pre.highlight {
    font-size: var(--font-size);
}
.lsp_popup code.highlight {
    font-size: var(--font-size-sm);
}
.mdpopups hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-color: color(var(--foreground) alpha(0.10));
}
.mdpopups kbd {
    background-color: color(var(--mdpopups-bg) lightness(+ 5%));
    border-color: color(var(--mdpopups-fg) alpha(0.25));
    color: var(--mdpopups-fg);
    font-size: 0.8rem;
    line-height: 0.8rem;
}
.mdpopups blockquote.alert {
    border-radius: 0;
    border-width: 0;
    border-left-width: 4px;
}
.mdpopups blockquote.alert p {
    margin-bottom: 0;
}
.mdpopups blockquote.alert p.alert-title {
    font-size: var(--font-size);
    margin-bottom: 0.5rem;
    margin-left: 0;
    padding-left: 0;
}
.mdpopups blockquote.alert-tip .alert-title {
    color: var(--mdpopups-admon-tip-accent);
    background-color: transparent;
}
.mdpopups blockquote.alert-warning .alert-title {
    color: var(--mdpopups-admon-warning-accent);
    background-color: transparent;
}
.mdpopups blockquote.alert-caution .alert-title {
    color: var(--mdpopups-admon-caution-accent);
    background-color: transparent;
}
.mdpopups blockquote.alert-note .alert-title {
    color: var(--mdpopups-admon-note-accent);
    background-color: transparent;
}
.mdpopups blockquote.alert-important .alert-title {
    color: var(--mdpopups-admon-important-accent);
    background-color: transparent;
}
.lsp_popup .wrapper {
    padding: 0.5rem;
    padding-bottom: 0;
}
.lsp_popup .wrapper--spacer {
    margin-top: .5rem;
}
.lsp_popup .m-0 {
    margin: 0;
}
.diagnostics p {
    display: inline;
}
.diagnostics code,
.diagnostics code.highlight {
    background-color: color(white alpha(0.1));
    border-color: transparent;
}
html.light .diagnostics code,
html.light .diagnostics code.highlight {
    background-color: color(black alpha(0.1));
}
.color-muted {
    color: color(var(--foreground) alpha(0.6));
}
.error,
.warning,
.information,
.hint {
    color: var(--foreground);
}
.error {
    background-color: color(var(--redish) alpha(0.2));
}
.warning {
    background-color: color(var(--yellowish) alpha(0.2));
}
.information {
    background-color: color(var(--bluish) alpha(0.2));
}
.hint {
    background-color: color(var(--bluish) alpha(0.2));
}
.signature-help-intro {
    font-size: var(--font-size-sm);
}
.actions {
    background-color: color(var(--foreground) alpha(0.1));
}
.actions a {
    text-decoration: none;
}
.lightbulb {
    position: relative;
    bottom: -2px;
    padding-right: 0.5rem;
}
.lightbulb img {
    width: 1rem;
    height: 1rem;
}
a.copy-icon {
    padding: 0.5rem;
    text-decoration: none;
    color: color(var(--foreground) alpha(0.6));
}
