.lsp_popup {
    margin: 0.5rem 0.5rem 0 0.5rem;
}
.lsp_popup .highlight {
    border-width: 0;
    border-radius: 0;
}
.lsp_popup p {
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
    font-family: system;
}
.lsp_popup li {
    font-family: system;
}
.lsp_popup .diagnostics {
    margin-bottom: 0.5rem;
}
.lsp_popup .errors {
    border-width: 0;
    background-color: color(var(--redish) alpha(0.25));
    color: var(--whitish);
    padding: 0.5rem;
}
.lsp_popup .warnings {
    border-width: 0;
    background-color: color(var(--yellowish) alpha(0.25));
    color: var(--whitish);
    padding: 0.5rem;
}
.lsp_popup .info {
    border-width: 0;
    background-color: color(var(--bluish) alpha(0.25));
    color: var(--whitish);
    padding: 0.5rem;
}
.lsp_popup .hints {
    border-width: 0;
    background-color: color(var(--bluish) alpha(0.25));
    color: var(--whitish);
    padding: 0.5rem;
}
.lsp_popup .actions {
    border-width: 0;
    background-color: color(var(--foreground) alpha(0.1));
    color: var(--whitish);
    padding: 0.5rem;
}
.lsp_popup .actions a {
    text-decoration: none;
    color: var(--foreground);
}
pre.related_info {
    border-top: 1px solid color(var(--background) alpha(0.25));
    margin-top: 0.7rem;
    padding-top: 0.7rem;
}