.lsp_popup {
    margin: 0.5rem 0.5rem 0 0.5rem;
    font-family: system;
}
.lsp_popup--spacer {
    margin-top: 0.5rem;
}
.lsp_popup hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-color: color(var(--foreground) alpha(0.10));
}
.lsp_popup h1,
.lsp_popup h2,
.lsp_popup h3,
.lsp_popup h4,
.lsp_popup h5,
.lsp_popup h6 {
    font-size: 1rem;
}
.highlight {
    border-width: 0;
    border-radius: 0;
}
.diagnostics {
    margin-bottom: 0.5rem;
    font-family: var(--mdpopups-font-mono);
}
.errors {
    border-width: 0;
    background-color: color(var(--redish) alpha(0.25));
    color: var(--foreground);
    padding: 0.5rem;
}
.warnings {
    border-width: 0;
    background-color: color(var(--yellowish) alpha(0.25));
    color: var(--foreground);
    padding: 0.5rem;
}
.info {
    border-width: 0;
    background-color: color(var(--bluish) alpha(0.25));
    color: var(--foreground);
    padding: 0.5rem;
}
.hints {
    border-width: 0;
    background-color: color(var(--bluish) alpha(0.25));
    color: var(--foreground);
    padding: 0.5rem;
}
.actions {
    font-family: system;
    border-width: 0;
    background-color: color(var(--foreground) alpha(0.1));
    color: var(--foreground);
    padding: 0.5rem;
}
.actions a.icon {
    text-decoration: none;
}
.link.with-padding {
    padding: 0.5rem;
}
pre.related_info {
    border-top: 1px solid color(var(--background) alpha(0.25));
    margin-top: 0.7rem;
    padding-top: 0.7rem;
}
