name: docs
on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/docs.yml"
      - "docs/**"
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - run: |
          cd docs
          make install
          make deploy
