name: main

on:
  push:
    branches:
      - main
    paths-ignore:
      - ".github/workflows/docs.yml"
      - "docs/**"
  pull_request:
    branches:
      - main
    paths-ignore:
      - ".github/workflows/docs.yml"
      - "docs/**"

env:
  CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}

jobs:
  Unittesting:
    name: Unittesting (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: SublimeText/UnitTesting/actions/setup@v1
      - uses: SublimeText/UnitTesting/actions/run-tests@v1
        with:
          coverage: true
          odecov-upload: true

  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - run: sudo apt update
      - run: sudo apt install --no-install-recommends -y x11-xserver-utils
      - run: pip3 install mypy==0.790 flake8==3.8.3 yapf==0.30.0 --user
      - run: echo "$HOME/.local/bin" >> $GITHUB_PATH
      - run: mypy -p plugin
      - run: flake8 plugin tests
