name: main

on:
  push:
    branches:
      - main
    paths-ignore:
      - ".github/workflows/docs.yml"
      - "docs/**"
  pull_request:
    branches:
      - main
    paths-ignore:
      - ".github/workflows/docs.yml"
      - "docs/**"

jobs:
  Unittesting:
    name: Unittesting (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os:
          # - ubuntu-latest
          - macOS-latest
          # - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: SublimeText/UnitTesting/actions/setup@v1
      - uses: sublimelsp/UnitTesting/actions/run-tests@b27624632198eb225fce3a5c8712b9602662b020
        # with:
        #   coverage: true

  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - run: sudo apt update
      - run: sudo apt install --no-install-recommends -y x11-xserver-utils
      - run: pip3 install mypy==1.18.2 flake8==7.1.1 pyright==1.1.407 orjson==3.11.4 --user
      - run: echo "$HOME/.local/bin" >> $GITHUB_PATH
      - run: mypy stubs
      - run: flake8 plugin tests
      - run: pyright plugin
