name: On Release

on:
  release:
    types:
      - published

jobs:
  dispatch:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.LSP_UTILS_REPOSITORY_DISPATCH_TOKEN }}
          repository: sublimelsp/lsp_utils
          event-type: new_release
